.header {
  background-color: #ff6600;
  display: flex;
  align-items: center;
  padding: 5px 15px;

  .logo {
    border: 1px solid white;
    height: 20px;
    width: 20px;
  }
  
  .links_list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0;
  
    .links_list_item {
      margin: 0 5px;
      padding: 0 5px;
    }

    .links_list_link_active {
      color: #ffffff;
    }
  }
}